<div style="width: 100%; height: 100%;">
    <div class="content-container" 
            style="justify-content: center;
                    background-image: url(assets/image/narutoHinataMoon.jpg);
                    background-position: center;">
    
        <div class="title-container">
            <h1 class="paginator-title">
                Aceita namorar comigo?
            </h1>    
        </div>
        
        <div class="answer-container">
            <button class="button-answer-green"
                        (click)="success()">
                Sim em verde
            </button>

            
            <button class="button-answer-red">
                Sim em vermelho
            </button>
        </div>

    </div>
</div>