<div style="width: 100%; height: 100%;">
    <div class="content-container" 
            style="justify-content: center;
                    background-image: url(assets/image/narutoHinataMoon.jpg);
                    background-position: center;">
    
        <div class="title-container">
            <h1 class="paginator-title">
                Aceita namorar comigo?
            </h1>    
        </div>
        
        <div class="answer-container">
            <button class="button-answer-green"
                        (click)="success()">
                Sim em verde
            </button>

            
            <a href="https://www.google.com/search?q=sad+pepe+meme&rlz=1C1GCEU_pt-BRBR960BR960&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiM_4Kf7dHxAhXqqZUCHTy1A2YQ_AUoAXoECAEQAw&biw=1366&bih=657" 
                target="_blank"
                class="button-answer-red">
                Sim em vermelho
            </a>
        </div>

    </div>
</div>