.content-container{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    background: #F8F8FA;

    padding-bottom: 20px;
}

.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 90%;
  justify-content: center;
  align-items: center;
}

.home-header {
    font-family: 'MontSerrat';

    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

.home-image {
  max-width: 90%;
}